:root {
    --ochre: #735919;
    --mustard: #a3790d;
    --tan: #c7b381;
    --ivory: #f0ece4;
    --brown: #36332c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--ivory);
    font-family: Helvetica, Arial, sans-serif;
}

section {
    display: flex;
}

/* header begin */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../assets/images/tim-mossholder-RTfqNYKbqE4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 120px;
    align-items: center;
}

header h1 {
    font-size: 4vw;
    margin: 10px;

}

header a {
    text-decoration: none;
    color: var(--brown);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 10px;
    font-size: 2vw;
}

header nav ul li a:hover {
    color: var(--ivory);
}

/* header end */

/* about me begin */

.headshot {
    flex: 20%;
    display: flex;
    align-self: center;
}
.headshot img {
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    align-content: flex-start;
}

.about-text {
    display: inline-flex;
    flex-direction: row;
    margin: 10px;
    flex: 80%;
    align-content: flex-end;
    border-bottom: 2px solid var(--ochre);
}

.about-h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
    font-size: 2.25vw;
}

.about-me-p {
    flex-wrap: wrap;
    line-height: 1.25;
    margin: 20px;
    font-size: 1.5vw;
}
/* about me end */

/*portfolio section begin*/

.project-section {
    display: flex;
}
.section-title {
    display: flex;
    flex-directon: row;
    flex: 20%;
}

.title {
    justify-content: flex-start;
    margin: 20px 10px;
    font-size: 2.25vw;
}

.work-portfolio {
    display: flex;
    flex: 80%;
}

/* run buddy box */

.work-row-1{
    display: flex;
    flex-wrap: wrap;
}
.run-buddy {
    background-size: cover;
    border: 1px solid var(--mustard);
    align-items: center;
    background-repeat: no-repeat;
}

.run-buddy img {
    display: flex;
    background-size: auto;
    
}
.work-name h3 {
    font-size: 2.5vw;
    background-color: var(--tan);

}





